.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 6rem;
    gap: 3rem;

    .conteudo {
        max-width: 480px;

        h1 {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.1;
            margin: 1.5rem  0;
            color: #000;
        }

        p {
            font-size: 1.125rem;
            color: #444;
            line-height: 1.6;
            margin-bottom: 2rem;
        }

        .buttons {
            display: flex;
            gap: 2rem;


            .btnUm {
                padding: 12px 24px;
                border-radius: 8px;
                text-decoration: none;
                font-weight: 500;
                font-size: 1rem;
                background: #00745A;
                color: #fff;

                &:hover {
                    background-color: #02634c;
                }
            }

            .btnDois {
                padding: 12px 24px;
                border-radius: 8px;
                text-decoration: none;
                font-weight: 500;
                font-size: 1rem;
                border: 2px solid #00745A;
                color: #00745A
            }
        }
    }
}

.sectionMissao {
    width: 100%;
    background-color: #00745A;
    padding: 2rem 6rem;
    color: white;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;


    h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    }

    p {
    font-size: 1rem;
    max-width: 600px;
    opacity: 0.85;
    margin-bottom: 3rem;
    }

    .boxCards {
    width: 100%;
    max-width: 1500px;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    }

    article {
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 10px;
      padding: 0.5rem 1rem;

      display: flex;
      flex-direction: column;
      text-align: center;

      h3 {
        font-size: 1.3rem;
        font-weight: 700;
        margin-top: 1rem;
      }
      
      p {
        margin-top: 1.5rem;
         padding: 0 1rem;
         
      }

    }
}

.sectionImpacto {
    width: 100%;
    background-color: #ffffff;
    padding: 2rem 6rem;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;



    h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    }

    p {
    font-size: 1rem;
    max-width: 600px;
    opacity: 0.85;
    margin-bottom: 3rem;
    }

    .boxCards {
    width: 100%;
    max-width: 1500px;
    display: flex;
    gap: 2.5rem;
    }

    article {
      border: 1px solid rgba(0, 0, 0, 0.6);
      border-radius: 10px;
      padding: 1rem 4rem;

      display: flex;
      flex-direction: column;
      text-align: center;

      h3 {
        color: #00745A;         
        font-size: 3rem;
        font-weight: 700;
        margin-top: 1.5rem;
      }
      
      p {
        margin-top: 1rem;
        font-size: 1rem;
      }

    }
}

@media (max-width: 1024px) {
  .section {
    padding: 3rem 3rem;
    gap: 2rem;
  }

  .doutorImgBox {
    display: none;  
  }

  .boxCards {
    flex-wrap: wrap;
  }


}



@media (max-width: 768px) {

  .section {
    flex-direction: column;
    text-align: center;
    padding: 2rem 2rem;
  }

  .section .conteudo {
    max-width: 100%;
  }

  .section .buttons {
    flex-direction: column;
    width: 100%;
  }

  .section .buttons a {
    width: 100%;
    text-align: center;
  }

  .sectionMissao {
    padding: 2rem;
    text-align: center;
  }

  .sectionMissao p {
    margin-left: auto;
    margin-right: auto;
  }

  .sectionMissao .boxCards {
    flex-direction: column;
    align-items: center;
  }

  .sectionMissao article {
    width: 100%;
    max-width: 350px;
  }

    .sectionImpacto {
    padding: 2rem;
    text-align: center;
  }

  .sectionImpacto h2 {
    font-size: 2rem;
  }

  .sectionImpacto p {
    margin-left: auto;
    margin-right: auto;
  }

  .sectionImpacto .boxCards {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .sectionImpacto article {
    width: 100%;
    max-width: 300px;
    padding: 1rem 2rem;
  }

  .sectionImpacto article h3 {
    font-size: 2.2rem;
  }
}

@media (max-width: 480px) {

  .section {
    padding: 1.5rem;
  }

  .section h1 {
    font-size: 2.2rem;
  }

  .section p {
    font-size: 1rem;
  }

  .sectionMissao h2 {
    font-size: 2rem;
  }

  .sectionMissao article h3 {
    font-size: 1.2rem;
  }

    .sectionImpacto {
    padding: 1.5rem;
  }

  .sectionImpacto h2 {
    font-size: 1.9rem;
  }

  .sectionImpacto p {
    font-size: 0.95rem;
  }

  .sectionImpacto .boxCards {
    gap: 1.2rem;
  }

  .sectionImpacto article {
    padding: 1rem 1.5rem;
    max-width: 260px;
  }

  .sectionImpacto article h3 {
    font-size: 2rem;
  }

  .sectionImpacto article p {
    font-size: 0.9rem;
  }
}
