.footer {
  background: #111;
  color: #f1f1f1;
  padding: 3rem 2rem 2rem;
  font-family: "Inter", sans-serif;

  .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }

  .boxLogo1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
     margin-top: 0.3rem;
     line-height: 1.4;
     font-size: 0.9rem;
     color: #dcdcdc;
     max-width: 250px;
    }
  }

  .boxLogo {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    h3 {
     margin: 0;
     font-size: 1.1rem;
     font-weight: 600;
    }
  }

  .coluna1 {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      margin-bottom: 0.5rem;
      margin-top: 1rem;

  h3 {
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 600;
  }

  p {
    margin-top: 10px;
    line-height: 1.5;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 10px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

  .copy {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 0.85rem;
    color: #b5b5b5;
    border-top: 1px solid #000000;
    padding-top: 2rem;
  }


}

@media (max-width: 480px) {
  .footer {

    .boxLogo1 {
      align-items: flex-start;

      p {
        max-width: 80%;
        font-size: 0.6rem;
        line-height: 1.5;
      }
    }

    .boxLogo {
      h3 {
        font-size: 0.9rem;
      }
      img {
        width: 2rem; 
        height: auto;
      }
    }

    .coluna {
      h3 {
        font-size: 0.7rem;
      }
    }

    .coluna1 {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0.5rem;

      ul li {
        margin-bottom: 8px;
        font-size: 0.5rem;

        img {
          width: 0.9rem;
          height: 0.9rem;
        }
      }
    }

    .copy {
      font-size: 0.6rem;
      margin-top: 2rem;
      padding-top: 1.5rem;
    }
  }
}

